<h1>Pirate Info</h1>
<p>Name: <%= @pirate.name %>
<p>Height: <%= @pirate.height %>
<p>Weight: <%= @pirate.weight %>

<h2>First Ship Info</h2>
<p>Name: <%= @ship1.name %></p>
<p>Type: <%= @ship1.type %></p>
<p>Booty: <%= @ship1.booty %></p>

<h2>Second Ship Info</h2>
<p>Name: <%= @ship2.name %></p>
<p>Type: <%= @ship2.type %></p>
<p>Booty: <%= @ship2.booty %></p>
